@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var message = String.Format("Welcome to page \"{0}\"", "Page name");
    ViewBag.Title = "Hello world page";
}
<h2>Index</h2>

<p>Hello from our View Template!</p>